html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rb-lg-border {
    border-radius: 10px 10px 100px 10px
}

.rb-sm-border {
    border-radius: 10px 10px 50px 10px
}

.translate-y{
    transform:translateY(50%)
}
.bg-tertiary {
    background: #4B0082 !important;
}
.bg-tertiary-subtle {
    background: rgba(75, 0, 130, 0.20) !important;
}

.dashboard-list li p, .dashboard-list li span {
    margin: 0;
    margin-left: 1rem;
}

.dashboard-list li:not(:first-of-type){
    display:grid;
    grid-template-columns:1fr 1fr;
}
.w-fit{
    width:fit-content;
}
.cursor-pointer{
    cursor:pointer;
}