@using Microsoft.AspNetCore.Identity
@using RentWise.DataAccess.Repository.IRepository;
@using System.Security.Claims;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork _unitOfWork

@{
    Authentication authentication = new Authentication(); // or null if you want to pass null
    AuthenticationLogin authenticationLogin = new AuthenticationLogin();
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    UsersDetailsModel usersDetailsModel = userId != null ? _unitOfWork.UsersDetails.Get(u => u.Id == userId) : new UsersDetailsModel();
}
<ul class="navbar-nav align-items-center">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item d-lg-none d-block py-3">
            <a class="link-light text-decoration-none" asp-controller="Dashboard" asp-action="Index" asp-route-active="2">
                Messages
            </a>
        </li>
        <li class="nav-item d-lg-none d-block py-3">
            <a class="link-light text-decoration-none" asp-controller="Dashboard" asp-action="Index" asp-route-active="3">
                Report
            </a>
        </li>
        <li class="nav-item d-lg-none d-block py-3">
            <a class="link-light text-decoration-none" asp-controller="Dashboard" asp-action="Index" asp-route-active="4">
                Reservations
            </a>
        </li>
        <li class="nav-item d-lg-none d-block py-3">
            <a class="link-light text-decoration-none" asp-controller="Dashboard" asp-action="Index" asp-route-active="5">
                Review
            </a>
        </li>
    <li class="nav-item position-relative d-lg-block d-none">
            <a asp-controller="Dashboard" asp-action="Index" asp-route-active="4" class="link-light nav-icon-size">
                <i class="bi bi-bell-fill"></i>
        </a>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger bg-light text-primary rounded-circle cart-count">
                @usersDetailsModel.Orders
            </span>
    </li>
        <li class="nav-item d-lg-block d-none">
            <a class="link-light nav-icon-size" asp-controller="Dashboard" asp-action="Index" asp-route-active="6">
          <i class="bi bi-person-circle"></i>
       </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
            <a class="btn btn-outline-secondary rounded-pill px-5" asp-controller="Auth" asp-action="Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary text-dark rounded-pill px-5" asp-controller="Auth" asp-action="Login">
                Login
            </a>
        </li>
}
</ul>
<!-- Bootstrap JavaScript (and jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>