
<link rel="stylesheet" href="~/css/shared/_Nav2.css" asp-append-version="true" />
<nav class="d-flex p-3 justify-content-between " id="nav2-bar">
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary rounded-pill text-decoration-none px-4 py-1">
        <i class="bi bi-arrow-left"></i> Back
    </a>

    <div class="d-flex gap-3 align-items-center">
        <a asp-controller="Auth" asp-action="Register" class="link-primary text-decoration-none"><b>Don't have an account?</b></a>
        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary rounded-pill text-decoration-none px-5 py-1">Sign Up</a>
    </div>
</nav>

