<link rel="stylesheet" href="~/css/controller/home/_Hero.css" asp-append-version="true" />
<header class="hero p-5">
    <partial name="_Nav" />
    <p class="text-primary">Vendor Registration</p>

    <div class="row p-5 text-white">
        <div class="col-8">
            <h1 class="display-2">Become a Verified</h1>
            <h1 class="h1 mb-5">Vendor in 3 minute.</h1>
            <p class="w-75">
                List your Rent items on Rent Wise and reach for hundreds of thousands of Rent Wise customers.
                We have the fastest growing customer base in Ghanaand the best in class operations.
                Your property will spend less time on the market and more time making you money.

            </p>
            <a href="" class="link-light d-block">Learn more about posting listing</a>
            <button class="btn btn-primary px-5 rounded-pill my-5">Click to Get Started</button>
            <p class="w-50">
                If you are experiencing difficulty please call +233242207779 to have our
                agent assist you. 9am to 6pm, Monday - Friday
            </p>
        </div>
        <div class="col-4">
            <div class="bg-primary px-2 py-3 rb-lg-border">
                <div class="d-flex align-items-center mb-3">
                    <img src="~/img/benefit.png" alt="Signing the contract with the stamp" />
                    <h1>Benefits</h1>
                </div>
                <ul>
                    <li>Benefits From Our promotion and Marketing</li>
                    <li>
                        Get Visibility From Our Campaigns/Promotions And
                        Insight On Best Products
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>