
<div class="home">
    <partial name="_Hero" />
    <div class="row p-5 gap-5">
        <div class="col-3 ">
            <h1>How it Works</h1>
            <p>for vendors</p>
        </div>
        <div class="col-3 px-5 pt-3 border  border-primary rb-sm-border w-auto">
            <p><b>Step 1: Register in less than 5</b></p>
            <p>Fill The Registration Form</p>
        </div>
        <div class="col-3 border  border-primary rb-sm-border bg-primary text-white w-auto px-5 pt-3 translate-y">
            <p><b>Step 2: Upload your Verification</b></p>
            <ul>
                <li>
                    National Identification card
                    
                </li>
                <li>Passport Photograph</li>
            </ul>
        </div>
        <div class="col-3 border  border-primary rb-sm-border w-auto px-5 pt-3">
            <p><b>Step 3: Get Approved and Upload</b></p>
            <p>
                Upload your rental items and start
                getting request
            </p>
        </div>
    </div>
</div>