.hero {
    background-image: url(../../../img/hero.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

@media screen and (max-width: 32em) {
    .hero {
        display: none;
    }
}