@model RentWise.Models.Identity.ForgetPasswordModel
<partial name="_Nav2" />
<form id="forgotPasswordForm" asp-route-returnUrl="/Home/Index" method="post" class="m-auto p-md-5 p-sm-1 forgotPasswordForm authform">
    <img src="~/img/logo.png" alt="Rentwise Logo" class="d-block m-auto" id="auth-logo" />
    <h2 class="text-primary text-center">Forgot Password</h2>
    @if (TempData["Email"] != null)
    {
        <p class="text-center text-black-50">
            We sent a password reset link to @TempData["Email"]. Click on the link in your email to reset your password.
        </p>
        <img src="@Url.Content("~/img/forgot-password.png")" class="w-fit d-block m-auto" />
    }
    else
    {
        <p class="text-center text-black-50">Enter your email address to recover your password 😪</p>
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Email" class="form-label text-black-50">Email </label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <button id="forgotPassword-submit" type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">Reset Password</button>
            <p class="text-black-50 text-center mt-2">Remember your password? <a asp-controller="Auth" asp-action="Register" class="link-primary text-decoration-none">Sign In</a></p>
        </div>
    }
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            const parsedUrl = location.href.split("onesignalId=")[1];
            if (parsedUrl) {
                $(".forgotPasswordForm").attr("action", "/Auth/Login?returnUrl=Home/Index?onesignalId=" + parsedUrl);
                console.log("OneSignal ID:", parsedUrl);
            } else {
                console.log("OneSignal ID not found in the URL.");
            }
        });
    </script>
}
