@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Options;
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="manifest" href="manifest.json" />
</head>
<body>
    <header>
        <partial name="_Nav" />
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">   
                @RenderBody()
            </div>
        </div>
    </main>
    @inject IOptions<RentWiseConfig> _config;
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    @{
        string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    }
    <input value="@userId" class="user-id" hidden />
    <footer class="bg-primary p-md-5 py-4 text-white text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 mt-sm-4">

                    <p class="mb-3">
                        <a href="https://www.instagram.com/rentwise_gh" class="text-decoration-none mb-3 link-light fs-3" target="_blank">
                            <b>Follow us at</b> <i class="bi bi-instagram"></i>
                        </a>
                    </p>
                    <ul class="list-unstyled mt-4">
                        <li><a asp-controller="Page" asp-action="About" class="link-light text-decoration-none fs-5">About Us</a></li>
                        <li><a asp-controller="Page" asp-action="LegalAndPolicy" class="link-light text-decoration-none fs-5">Legal Terms & Privacy Policy</a></li>
                        <li><a asp-controller="Page" asp-action="TOS" class="link-light text-decoration-none fs-5">Terms Of Service</a></li>
                        <li><a asp-controller="Page" asp-action="AvoidScam" class="link-light text-decoration-none fs-5">Avoid Scams and Fraud</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <ul class="d-flex flex-column gap-2">
                        @{
                            string agentRegistrationLink = $"{_config.Value.AgentWebsiteLink}/Home/Index";
                        }
                        <li><a asp-controller="Auth" asp-action="Register" class=" text-decoration-none fs-5 btn btn-outline-secondary">Register as  Renter</a></li>
                        <li><a href="@agentRegistrationLink" class="text-decoration-none fs-5 btn btn-outline-secondary link-secondary">Become an Owner</a></li>
                        <li><a asp-controller="Auth" asp-action="Login" class="text-decoration-none fs-5 btn btn-outline-secondary">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <partial name="_Contact" />
                </div>
            </div>
        </div>
    </footer>
    @* <script>
        console.error = function () {
            // Convert arguments to array for better manipulation
            var args = Array.prototype.slice.call(arguments);

            console.log('error')
            console.error.apply(console, args);
        };
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSk8XumgpnSn3AcgoPqQm_zZwrq8Ll6UY&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.6/jquery.jcarousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-messaging-compat.js"></script>

    <script>
        function notification() {
            // Request permission for notifications
            Notification.requestPermission().then((permission) => {
                console.log('hello');
                if (permission === 'granted') {
                    $('.error').val('Notification permission granted.');
                    console.log('Notification permission granted.');

                    // Firebase configuration
                    const firebaseConfig = {
                        apiKey: "AIzaSyBaSMKCA0Toe3O_4LFHUxgEEDhf_-avHwY",
                        authDomain: "rent-wise-dc09f.firebaseapp.com",
                        projectId: "rent-wise-dc09f",
                        storageBucket: "rent-wise-dc09f.appspot.com",
                        messagingSenderId: "342704319982",
                        appId: "1:342704319982:web:c238396bf5ebac8aa6b2ff",
                        measurementId: "G-QYWYSJ5BTE"
                    };

                    // Initialize Firebase app
                    const app = firebase.initializeApp(firebaseConfig);
                    const messaging = app.messaging();

                    // Request token for push notifications
                    messaging.getToken({
                        vapidKey: "BFgdWrAxoxvWLNvT1YGOxkJqiOq-fvwyROvCu1GaSYj5TuqDs_8dkjH2k0YAgMJ9zkBavcvKJvmtWhBPFVQtK5U"
                    }).then((currentToken) => {
                        if (currentToken) {
                            console.log('Token:', currentToken);
                        } else {
                            console.log('No registration token available. Request permission to generate one.');
                        }
                    }).catch((err) => {
                        console.log('An error occurred while retrieving token:', err);
                    });

                    // Handle incoming messages
                    messaging.onMessage((payload) => {
                        console.log('Message received:', payload);
                    });

                } else {
                    console.log('No permission');
                    $('.error').val('No permission');
                }
            }).catch((err) => {
                console.log('An error occurred while requesting permission:', err);
            });
        }

    </script>
    <script>
       </script>
  <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" async=""></script>
   <script defer>
            const userId = $('.user-id').val() ?? ""
        $('.test').val(location.href)
            window.OneSignalDeferred = window.OneSignalDeferred || [];
            async function oneSignalConn(){
            await OneSignalDeferred.push(async function (OneSignal) {
                OneSignal.Debug.setLogLevel('trace');
                await OneSignal.init({
                    appId: "b88de5c6-032a-4026-a52f-e61732fc390b",
                    safari_web_id: "web.rentwisegh.com",
                });
                Swal.fire("Success", userId + "userId" + OneSignal.User.PushSubscription.id, 'success')
                $('.error').val(JSON.stringify(OneSignal.User.PushSubscription))
              
            });
            }

    </script>  


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

