<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentWise.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM2yIul54qUYlxHgjTmvp52goQdqPcUwA&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
    <header>
        <partial name="_Nav" />
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </main>


    <footer class="bg-primary p-5 text-white text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 mt-sm-4">

                    <p class="mb-3"><b>Follow us at</b> <i class="bi bi-instagram"></i></p>
                    <ul class="list-unstyled mt-4">    
                        <li><a href="" class="link-light text-decoration-none">About Us</a></li>
                        <li><a href="" class="link-light text-decoration-none">Legal Terms & Privacy Policy</a></li>
                        <li><a href="" class="link-light text-decoration-none">Advertise</a></li>
                        <li><a href="" class="link-light text-decoration-none">Avoid Scams and Fraud</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <ul>
                        <li><a href="" class="link-light text-decoration-none">Register as Cusotmer</a></li>
                        <li><a href="" class="link-light text-decoration-none">Become an Agent</a></li>
                        <li><a href="" class="link-light text-decoration-none">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <h3 class="mb-3">Get In Touch</h3>
                    <form class="d-flex flex-column gap-4 form-contact">
                        <input type="text" placeholder="Name" value="" class="border-0 border-bottom bg-transparent text-light p-2" />
                        <input type="text" placeholder="Email" value="" class="border-0 border-bottom bg-transparent text-light p-2" />
                        <textarea placeholder="Message" class="border-0 border-bottom bg-transparent text-light p-2"></textarea>
                        <button class="btn btn-secondary rounded-pill text-dark w-auto">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </footer>
    <!-- Inside YourView.cshtml -->
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

