@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Options;
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - RentWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <div class="loading hidden">
        <div class='uil-ring-css'>
            <div></div>
        </div>
    </div>
    <div class="page">
        <div class="page_content">
            <header>
                <partial name="_Nav" />
            </header>
            <main class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
            </main>
            @inject IOptions<RentWiseConfig> _config;
            @inject SignInManager<IdentityUser> SignInManager
            @inject UserManager<IdentityUser> UserManager

            @{
                string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            }
            <input value="@userId" class="user-id" hidden />
            <footer class="bg-primary p-md-5 py-4 text-white text-center main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 mt-sm-4">
                            <h4>RentWise</h4>
                            <p>@@ registered company</p>
                            <p class="mb-3">
                                <a href="https://www.instagram.com/rentwise_app?igsh=MXJxenJqb3AyemF5bw%3D%3D&utm_source=qr" class="text-decoration-none mb-3 link-light fs-3" target="_blank">
                                    <b>Follow us at</b> <i class="bi bi-instagram"></i>
                                </a>
                            </p>
                            <ul class="list-unstyled mt-4">
                                <li><a asp-controller="Page" asp-action="About" class="link-light text-decoration-none fs-5">About Us</a></li>
                                <li><a asp-controller="Page" asp-action="LegalAndPolicy" class="link-light text-decoration-none fs-5">Legal Terms & Privacy Policy</a></li>
                                <li><a asp-controller="Page" asp-action="TOS" class="link-light text-decoration-none fs-5">Terms Of Service</a></li>
                                <li><a asp-controller="Page" asp-action="AvoidScam" class="link-light text-decoration-none fs-5">Avoid Scams and Fraud</a></li>
                            </ul>

                            <div>
                                <h2>Get our app</h2>
                                <div class="d-flex gap-3 flex-wrap align-items-center justify-content-center nb-3">
                                    <a href="https://apps.apple.com/ng/app/rentwise-gh/id6475678851">
                                        <img src="/img/appstore.png" alt="Get app on app store" class="cursor-pointer" width="200px" />
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=com.rentwisegh.rentwise&pcampaignid=web_share">
                                       <img src="/img/googleplay.png" alt="Get app on google store" class="cursor-pointer" width="200px"/>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12  mt-sm-4">
                            <ul class="d-flex flex-column gap-2 list-unstyled">
                                @{
                                    string agentRegistrationLink = $"{_config.Value.AgentWebsiteLink}/Home/Index";
                                }
                                <li><a asp-controller="Auth" asp-action="Register" class=" text-decoration-none fs-5 btn btn-outline-secondary">Register as  Renter</a></li>
                                <li><a href="@agentRegistrationLink" class="text-decoration-none fs-5 btn btn-outline-secondary link-secondary">Switch to Owner</a></li>
                                <li><a asp-controller="Auth" asp-action="Login" class="text-decoration-none fs-5 btn btn-outline-secondary">Login</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-12  mt-sm-4">
                            <partial name="_Contact" />
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="page_footer">
            <a asp-action="Index" asp-controller="Home" class="tab link-primary text-decoration-none home">
                <i class="bi bi-house-door-fill"></i>
                <span>Home</span>
            </a>
            <a asp-action="Chat" asp-controller="Page" class="tab link-dark text-decoration-none">
                <i class="bi bi-inbox-fill"></i>
                <span>Inbox</span>
            </a>
            <a asp-action="Orders" asp-controller="Store" class="tab link-dark text-decoration-none">
                <i class="bi bi-newspaper"></i>
                <span>Reservation</span>
            </a>
            <a asp-action="Profile" asp-controller="Auth" class="tab link-dark text-decoration-none">
                <i class="bi bi-person-fill "></i>
                <span>Profile</span>
            </a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.6/jquery.jcarousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const exemptions = [{
            link: "/auth/login",
            footer: true,
            nav: true,
            centerElement: {
                value: true,
                elementId: "loginForm",
                topOffset: 30
            }
        }, {
            link: "/auth/ForgotPassword",
            footer: true,
            nav: true,
            centerElement: {
                value: true,
                elementId: "forgotPasswordForm",
                topOffset: 50
            }
        }, {
            link: "/auth/ResetPassword",
            footer: true,
nav: true,
        }, {
            link: "/auth/Register",
            footer: true,
nav: true,
            centerElement: {
                value: true,
                elementId: "registerForm",

                topOffset: 0
            }
        }, {
            link: "/",
            footer: true,

        }]
        exemptions.forEach(exemption => {
            const link = exemption.link;
            const currentPageLink = window.location.pathname;
            const isCurrPage = (currentPageLink.toLowerCase().includes(link.toLowerCase())) && link != "/";
            if (isCurrPage || link == "/") {
                if (exemption.footer) {
                    $(".main-footer").hide();
                }
                if (exemption.nav) {
                    $(".main-nav").hide();
                    $(".main-nav").remove();

                }
                if (exemption.centerElement?.value) {
                    centerAnyElementVertically(exemption.centerElement.elementId, exemption.centerElement.topOffset);
                    window.addEventListener('resize', () => centerAnyElementVertically(exemption.centerElement.elementId, exemption.centerElement.topOffset));
                }
            }
        });

        function centerElementVerticallyAndHorizontally(element, raiseUpOffset) {
            const viewportHeight = window.innerHeight;
            const viewportWidth = window.innerWidth;
            const elementHeight = element.offsetHeight;
            let elementWidth = element.offsetWidth;

            // Check if the element's width is greater than 90% of the viewport width
            if (elementWidth > viewportWidth * 0.9) {
                elementWidth = viewportWidth * 0.9;
                element.style.width = `${elementWidth}px`;
            } else {
                element.style.width = `600px`;
            }

            const topOffset = (viewportHeight - elementHeight) / 2;
            const leftOffset = (viewportWidth - elementWidth) / 2;
            console.log(raiseUpOffset)
            element.style.position = 'absolute';
            element.style.top = `${topOffset - raiseUpOffset}px`;
            element.style.left = `${leftOffset}px`;
        }

        function centerAnyElementVertically(elementId, raiseUpOffset = 0) {
            const elementToCenter = document.getElementById(elementId);
            if (elementToCenter) {
                centerElementVerticallyAndHorizontally(elementToCenter, raiseUpOffset);
            } else {
                console.error(`Element with ID ${elementId} not found.`);
            }
        }
        $(document).ready(function () {
            hideLoading()
            $('body, html').css({
                width: $(window).width(),
                height: $(window).height()
            });

            const currentPage = window.location.pathname.toLowerCase()
            let isActiveApplied = false
            $('.page_footer a').each(function () {
                const href = $(this).attr('href').toLowerCase();
                if (href === currentPage) {
                    $(this).addClass('link-primary');
                    $(this).removeClass('link-dark');
                    isActiveApplied = true
                } else {
                    $(this).addClass('link-dark');
                    $(this).removeClass('link-primary');
                }
            });
            if (!isActiveApplied) {
                $('.home').addClass('link-primary');
                $('.home').removeClass('link-dark');
            }
        });
        const userId = $('.user-id').val() ?? "rentwise";
        const urlParams = new URLSearchParams(window.location.search);
        let id = urlParams.get('onesignalId');
        let toastrMessage = urlParams.get('message')
        let errorMessage = urlParams.get('error')
        if(toastrMessage){
            toastr.success(toastrMessage)
        }
        if(errorMessage){
            toastr.error(errorMessage)
        }
        $('.id').val(id)
        if(id)
        if (id && id != "") {
            $(".loginForm").attr("action", "/Auth/Login?returnUrl=Home/Index?onesignalId=" + id);
            $(".registerForm").attr("action", "/Auth/Register?returnUrl=Home/Index?onesignalId=" + id);
        } 

        if (userId && userId != "" && id && id != "") {
            $.ajax({
                method: "POST",
                url: "/store/setOnesignalId?id=" + id,
                success: function (data) {
                   
                }
            })
        }
        // Listen for click events on all links
        $('a').click(function (event) {
            event.preventDefault();
           
            const originalUrl = $(this).attr('href');
            if (originalUrl && !originalUrl.startsWith('#')){
                showLoading()
            }
            const separator = originalUrl.indexOf('?') !== -1 ? '&' : '?';

            let newUrl = originalUrl;
            if (id && id != "") {
                newUrl = originalUrl + separator + 'onesignalId=' + id;
            }
            // Redirect to the new URL
            window.location.href = newUrl;
        });
        // Event listener for submit buttons
        $('button[type="submit"]').on('click', function (event) {
            showLoading()
        });
        // Disable viewport zooming
        function disableZoom() {
            var viewport = document.querySelector('meta[name="viewport"]');
            if (viewport) {
                viewport.content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no';
            }
        }

        disableZoom();
      
    </script>
</body>
</html>

