@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using Microsoft.Extensions.Options;
@using RentWise.DataAccess.Repository.IRepository;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork _unitOfWork
@inject IOptions<RentWiseConfig> _config;

@{
    Authentication authentication = new Authentication(); // or null if you want to pass null
    AuthenticationLogin authenticationLogin = new AuthenticationLogin();
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    UsersDetailsModel usersDetailsModel = userId != null ? _unitOfWork.UsersDetails.Get(u => u.Id == userId) : new UsersDetailsModel();
    string agentRegistrationLink = $"{_config.Value.AgentWebsiteLink}/Home/Index";
}
<link rel="stylesheet" href="~/css/shared/_LoginPartial.css" asp-append-version="true" />
<ul class="navbar-nav align-items-center gap-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <li  class="nav-item m-0 position-relative">
            <a asp-controller="Store" asp-action="Cart"> <i class="bi bi-cart-check-fill fs-4 text-white"></i></a>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger bg-light text-primary rounded-circle cart-count">
                @usersDetailsModel.Carts
            </span>
        </li>
        <li class="nav-item m-0 position-relative">
            <a asp-controller="Store" asp-action="Orders"><i class="bi bi-shop-window fs-4 text-white"></i></a>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger bg-light text-primary rounded-circle cart-count">
                @usersDetailsModel.Orders
            </span>
        </li>
        <li class="nav-item m-0 position-relative">
            <a asp-controller="Auth" asp-action="Profile"> <i class="bi bi-person-circle fs-4 text-white"></i></a>
        </li>
    }
    else
    {
          

    <li class="nav-item m-0">
       <a class="btn btn-outline-light m-0 rent-now" data-toggle="modal" asp-controller="Auth" asp-action="Register">
          Rent Now
       </a>
    </li>
      
    <li class="nav-item m-0">
       <a href="@agentRegistrationLink" class="btn btn-light text-primary m-0">Post A Rental</a>
    </li> 
    }
</ul>

