<link rel="stylesheet" href="~/css/controller/home/_OurServices.css" asp-append-version="true" />
<section class="bg-primary p-5 our-services">
    <h1>Our Services</h1>
    <div class="row align-items-center my-5 px-5">
        <ul class="col-md-6">
            <li>
                <i class="bi bi-car-front-fill"></i>
                <span>Car Rental</span>
            </li>
            <li>
                <i class="bi bi-building-fill-gear"></i>
                <span>Contruction Equipment Rental</span>
            </li>
            <li>
                <i class="bi bi-display-fill"></i>
                <span>Personal / Office Item Rental</span>
            </li>
            <li>
                <i class="bi bi-people-fill"></i>
                <span>Props / Events Equipments Rental</span>
            </li>
        </ul>
        <div class ="col-md-6 images">
            <img src="~/img/our-services.png" alt="Our Services" class="image image1"/>
            <img src="~/img/our-services.png" alt="Our Services" class="image image2" />
            <img src="~/img/our-services.png" alt="Our Services" class="image image3" />

        </div>
    </div>
    <button>Read More<i class="bi bi-caret-down-fill"></i></button>
</section>