@{
    List<DisplayPreview> Constructions = new List<DisplayPreview>()
    {
    new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    },
      new DisplayPreview
    {
        Image="/img/construction.png",
        Name="Shell Forest Ghana Limited & son..",
        Price=1000,
        Rating=4.5,
        Location="Accra, Ghana"
    }
    }
    ;
}
<div class="home">
    <partial name="_Hero"/> 
    <partial name="_OurServices" />
    <section class="p-5 gray">
        <div class="button bg-secondary rounded-pill m-auto">
            Construction Equipments
        </div>
        <p class="text-black-50 text-center mt-3">Rent High-quality Construction equipment available for short term and long term projects</p>
        <div class="f f-wrap mt-5">
            @foreach (DisplayPreview construction in Constructions )
            {
                <partial name="_DisplayPreview" for="@construction"/>
            }
            <button class="button bg-secondary text-dark align-self-center rounded-pill">See More</button>
        </div>
    </section>
</div>