<link rel="stylesheet" href="~/css/controller/page/About.css" asp-append-version="true" />
<section class="p-5">
    <div class="text-center bg-primary text-white px-5 py-3">
        <h1 class="h1 mb-4">About Us</h1>
        <p>Rentwise is Ghana’s biggest online rental marketplace, connecting people with a wide range of items to rent, conveniently and affordably.</p>
    </div>

    <div class="p-5">
        <p class="px-5 pb-5">At Rentwise, we are committed to making high-quality services and items available for people to rent and make money in the most affordable and convenient way possible. We operate a seamless system to help our customers experience ease of transaction, which creates competitive pricing, instant costing, and flexible payment options.</p>
        <p class="px-5">With us, you have the ideal multi-vendor rental marketplace that helps vendors easily connect with their target audience by giving them increased visibility, reaching more customers, pulling traffic, meeting customer needs, and ultimately increasing their sales. Vendors also get a separate dashboard from which they can manage their orders, products, create catalogs and cart promotions, and make other adjustments to boost sales.</p>
    </div>

    <div class="stat d-flex justify-content-evenly p-5 w-50 m-auto">
        <div>
            <p>70+</p>
            <p>Vendors</p>
        </div>
        <div>
            <p>500+</p>
            <p>Item</p>
        </div>
        <div>
            <p>2000+</p>
            <p>Customers</p>
        </div>

    </div>

    <div>
        <p>Our goal is to revolutionize the rental industry by becoming the number one trusted platform that provides an excellent rental marketplace that meets all rental needs. We also give businesses and entrepreneurs a solid way to launch scalable rental businesses for a variety of products and services, such as:</p>
        <ul>
            <li class="m-0"><a  asp-controller="Category" asp-action="Index" asp-route-id="1">Construction Equipments</a></li>
            <li class="m-0"><a  asp-controller="Category" asp-action="Index" asp-route-id="2">Car Rentals</a></li>
            <li class="m-0"><a  asp-controller="Category" asp-action="Index" asp-route-id="3">Office Items/Personal Items</a></li>
            <li class="m-0"><a  asp-controller="Category" asp-action="Index" asp-route-id="4">Events/ Equipment Rentals</a></li>
            <li class="m-0"><a asp-controller="Category" asp-action="Index" asp-route-id="5">Sales Of Vehicles Trackers</a></li>
        </ul>
        <p>We run an innovative business model that targets the needs of the general public with affordable services that save money on products and items that people ordinarily cannot afford to buy but can rent for temporary use. Ultimately, their needs are conveniently met without them having to buy things that they only need to rent.</p>
    </div>
</section>