<section class="p-md-5 p-sm-2 pt-5">
    <div class="text-center bg-primary text-white px-5 py-3">
        <h1 class="h1 mb-4">Avoiding Scams and Fraud</h1>
        <p>At Rentwise, we are committed to providing a secure and trustworthy environment for our users. To help ensure a safe experience, we've outlined guidelines to help you avoid scams and fraud when using our services.</p>
    </div>

    <div class="p-lg-5 pt-3">
        <p class="px-md-5 px-sm-1 pb-5">
            <strong>1. Verified Transactions:</strong> Whenever possible, use our platform's verified payment and transaction systems. This helps ensure the legitimacy of transactions and reduces the risk of fraud.
            <br><br>
            <strong>2. Communication:</strong> Be cautious of unsolicited communication. Official communication from Rentwise will typically occur within our platform, and we will never request sensitive information via email or external messaging platforms.
            <br><br>
            <strong>3. Secure Passwords:</strong> Keep your account secure by using strong, unique passwords. Do not share your password with others, and change it periodically.
            <br><br>
            <strong>4. Phishing Awareness:</strong> Be wary of phishing attempts. Rentwise will never ask you for sensitive information, such as passwords or credit card details, through suspicious links or emails.
            <br><br>
            <strong>5. Report Suspicious Activity:</strong> If you encounter any suspicious behavior or listings on our platform, please report them immediately to our support team. Your vigilance helps us maintain a safe community.
        </p>
    </div>

    <div class="mt-md-0 mt-sm-3">
        <p>If you have any concerns or questions regarding potential scams or fraudulent activities, please contact our support team at support@rentwisegh.com. Your safety and security are of utmost importance to us.</p>
    </div>
</section>
