<link rel="stylesheet" href="~/css/controller/page/Chat.css" asp-append-version="true" />
<div class="content content-2 row">
    <input value="@ViewBag.FullMessage" class="full-message" hidden />
    <input value="@ViewBag.ChatSummaries" class="chat-summaries" hidden />
    <input value="@ViewBag.UserId" class="user-id" hidden />
    <input value="@ViewBag.ReceipientId"  class="receipient-id" hidden />
    @if (ViewBag.IsChatEmpty)
    {
        <div class="d-flex justify-content-center align-items-center vh-100 flex-column">
            <div class="bg-white d-flex justify-content-center align-items-center p-5 flex-column rounded-circle" style="width:500px;height:500px">
                <i class="bi bi-chat-right-dots-fill display-1 text-primary"></i>
                <p class="display-6">You have no chat</p>
            </div>
        </div>
    }
    else
    {

      
        
        @if (ViewBag.OpenChat)
        {
            <div class="col-12 bg-light chat-area">
                <div class="chat-profile bg-white">
                    <a class="btn btn-primary" asp-controller="Page" asp-action="Chat"><i class="bi bi-arrow-left-short"></i>Back</a>
                    <img src="~/img/profile.png" alt="" width="50" height="50" class="rounded-circle" />
                    <span class="ml-3">User Name</span>
                </div>
                <div class="grid pt-3 px-md-5 px-md-1" id="grid-container"></div>
                <p class="text-center border chat-warn w-100">
                    Do not make payment outside this app. Your money is protected when you pay through RentWise App. Call 0242207779 for support
                </p>
                <div class="chat-send row align-items-center">
                    <textarea type="text" value="" placeholder="Message" class="col-10 border rounded-2" id="message"></textarea>
                    <button class="btn btn-primary col-2 ml-3" onclick="send()">Send</button>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 bg-white pt-4">
                <h3 class="h3">Message</h3>
                <div class="search_input my-3">
                    <i class="bi bi-search text-muted"></i>
                    <input type="search" value="" placeholder="Search" class="bg-light" />
                </div>
                <div class="chats">
                </div>
            </div>
        }
    }

</div>
@section Scripts{
    <script src="~/js/controller/page/Chat.js"></script>

}