<section class="p-5">
    <div class="text-center bg-primary text-white p-5 mb-5">
        <h1 class="h1">Contact Us</h1>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 text-gray-dark fs-5 d-flex gap-4 flex-column">
            <p>Our customer service team is always available to answer your calls and respond to your requests. You can contact us by filling out the online form on this page, and we will get back to you within 2 working days.</p>
            <h1>Support</h1>
            <p>If you have trouble registering or uploading products, please call us.</p>
            <h4 class="text-primary">024 220 7779</h4>
            <h4 class="text-primary">sadat@rentwisegh.com</h4>
            <p>Service Hours: Mon-Fri, 8am-8pm; Saturday, 9am-5pm; Public Holidays, 9am-5pm.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>Get In Touch</h1>
            <form method="post">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control mb-3" placeholder="First Name" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control mb-3" placeholder="Last Name" />
                    </div>
                    <div class="col-6">
                        <input type="email" class="form-control mb-3" placeholder="Email" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control mb-3" placeholder="Phone" />
                    </div>
                    <div class="col-12">
                        <textarea name="" id="" cols="30" rows="10" class="form-control mb-3" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
         </div>
    </div>
</section>