<link rel="stylesheet" href="~/css/controller/page/How.css" asp-append-version="true" />
<section class="p-5">
    <div class="text-center bg-primary text-white p-5">
        <h1 class="h1">How It Works</h1>
    </div>
    <div class="row p-md-5 p-sm-3 pt-5 align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 class="h2 m-0">Sharing your stuff</h3>
            <ol class="p-md-5 p-sm-0">
                <li class="mb-3">List your belongings on Rentwise. Take clear photos and write detailed descriptions of the items you want to rent out. Be sure to include the price, availability, and any other relevant information.</li>
                <li class="mb-3">Once a renter books your item, contact them to arrange pickup and answer any questions they may have. Be sure to coordinate a time and place that is convenient for both of you.</li>
                <li class="mb-1">When the item is returned, inspect it carefully and take photos of any damage. Then, check the item back in on Rentwise. This will ensure that you are covered by our insurance.</li>
            </ol>
            <p class="text-center"><b>Tip:</b> Sharing your listings on social media can help you increase bookings.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="~/img/how-it-works-1.png" alt="How it works" class="w-75 d-block m-auto" />
        </div>
    </div>
    <div class="row p-md-5 pt-5 p-sm-3  align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 ">
            <img src="~/img/how-it-works-2.png" alt="" class="w-75 d-block m-auto" />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 class="h2 mb-3">Sharing your stuff</h3>
            <ol class="px-md-5 px-sm-3 py-3">
                <li class="mb-3">Browse the listings or search for a specific item.</li>
                <li class="mb-3"> Once you've found an item you're interested in, book it and send the sharer a message to arrange pickup and ask any questions you may have.</li>
                <li class="mb-3">When you pick up the item, confirm pickup with the sharer and submit a few photos so that the insurance is valid for the period of your rental.</li>
            </ol>
            <p class="text-decoration-underline text-center h4">Here are some additional tips</p>
            <ul class="px-md-5 px-sm-3 py-3">
                <li class="mb-3">Be sure to read the item description carefully before booking. This will help you understand the item's condition, availability, and any other important details.</li>
                <li class="mb-3">Communicate with the sharer in advance to arrange pickup and return. Be sure to be flexible and accommodating.</li>
                <li class="mb-3">Inspect the item carefully when you pick it up and take photos of any damage. This will help protect you in case there are any issues when you return the item.</li>
                <li class="mb-3">Return the item on time and in the same condition as you received it.</li>
            </ul>
        </div>
    </div>

    <div class="text-center bg-primary text-white p-5 mb-3">
        <h1 class="h1 mb-3">Make money from the things you own</h1>
        <button class="btn btn-info text-light p-2">List Your Items</button>
    </div>
</section>