<section class="p-md-5 p-sm-2 pt-5">
    <div class="text-center bg-primary text-white px-5 py-3">
        <h1 class="h1 mb-4">Privacy Policy</h1>
        <p>Welcome to Rentwise! This Privacy Policy explains how we collect, use, and protect your personal information. By using our website or services, you agree to the terms outlined below.</p>
    </div>

    <div class="p-lg-5 pt-3">
        <p class="px-md-5 px-sm-1 pb-5">
            <strong>1. Information We Collect:</strong> We may collect the following types of personal information:
            <br>
            - Name, contact details, and other identifiers.
            <br>
            - Browsing and usage data.
            <br>
            - Payment and transaction information.
            <br>
            - Other information voluntarily provided by users.
            <br><br>
            <strong>2. How We Use Your Information:</strong> We use the collected information for the following purposes:
            <br>
            - Providing and improving our services.
            <br>
            - Personalizing user experience and content.
            <br>
            - Processing transactions and payments.
            <br>
            - Sending relevant communications and updates.
            <br><br>
            <strong>3. Data Security:</strong> We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the internet or electronic storage is 100% secure.
            <br><br>
            <strong>4. Cookies:</strong> We use cookies and similar technologies to enhance your browsing experience. You can control cookie preferences through your browser settings.
            <br><br>
            <strong>5. Third-Party Links:</strong> Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these sites.
            <br><br>
            <strong>6. Children's Privacy:</strong> Our services are not directed to children under the age of 13. We do not knowingly collect personal information from children. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us.
            <br><br>
            <strong>7. Changes to Privacy Policy:</strong> We reserve the right to update our Privacy Policy. Changes will be effective upon posting the updated policy on our website. Please review this policy periodically for changes.
            <br><br>
            By using our services, you agree to the terms outlined in this Privacy Policy.
        </p>
    </div>

    <div class="mt-md-0 mt-sm-3">
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at support@rentwisegh.com.</p>
    </div>
</section>
