<section class="p-md-5 p-sm-2 pt-5">
    <div class="text-center bg-primary text-white px-5 py-3">
        <h1 class="h1 mb-4">Terms of Service</h1>
        <p>Welcome to Rentwise! By using our website or services, you agree to comply with and be bound by the following terms and conditions. If you disagree with any part of these terms, please do not use our website.</p>
    </div>

    <div class="p-lg-5 pt-3">
        <p class="px-md-5 px-sm-1 pb-5">
            <strong>1. Acceptance of Terms:</strong> By accessing or using our services, you agree to be bound by these Terms of Service and all applicable laws and regulations.
            <br><br>
            <strong>2. User Registration:</strong> Some features of our services may require registration. You agree to provide accurate and complete information during the registration process and to update such information to keep it accurate and current.
            <br><br>
            <strong>3. User Conduct:</strong> You are responsible for your actions while using our services. Prohibited activities include but are not limited to: unauthorized access, data mining, and any activity that disrupts the normal functioning of the site.
            <br><br>
            <strong>4. Content:</strong> Users may submit content to our platform. By doing so, you grant Rentwise a worldwide, non-exclusive, royalty-free license to use, reproduce, modify, adapt, publish, translate, and distribute such content.
            <br><br>
            <strong>5. Intellectual Property:</strong> The content on this website, including text, graphics, logos, and images, is the property of Rentwise and is protected by intellectual property laws.
            <br><br>
            <strong>6. Termination:</strong> We reserve the right to terminate or suspend your account and access to our services for any reason without prior notice.
            <br><br>
            <strong>7. Governing Law:</strong> These terms are governed by the laws. Any disputes arising under or in connection with these terms shall be subject to the exclusive jurisdiction of the law.
        </p>
    </div>

    <div class="mt-md-0 mt-sm-3">
        <p>If you have any questions or concerns about our Terms of Service, please contact us at support@rentwisegh.com.</p>
    </div>
</section>
