<link rel="stylesheet" href="~/css/controller/dashboard/_Chat.css" asp-append-version="true" />
<div class="content content-2 row">
    @* <div class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="bg-white d-flex justify-content-center align-items-center p-5 flex-column rounded-circle" style="width:500px;height:500px">
    <i class="bi bi-chat-right-dots-fill display-1 text-primary"></i>
    <p class="display-6">You have no chat</p>
    </div>
    </div> *@

    <div class="col-3 bg-white pt-4">
        <h3 class="h3">Message</h3>
        <div class="search_input my-3">
            <i class="bi bi-search text-muted"></i>
            <input type="search" value="" placeholder="Search" class="bg-light" />
        </div>
        <div>
            <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />
            <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />
            <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>
            <hr />    <div class="chat">
                <img src="~/img/profile.png" alt="Profile Image" />
                <p><b>Idris Saidu</b></p>
                <p>Done</p>
                <p>4m</p>
                <p class="bg-primary rounded-circle text-center text-white">3</p>

            </div>

        </div>
    </div>
    <div class="col-9 bg-primary">b</div>
</div>
<script src="~/js/controller/dashboard/_Chat.js"></script>