<link rel="stylesheet" href="~/css/controller/dashboard/_Reports.css"/>


@model List<OrdersModel>
<div class="orders" hidden>
    @ViewBag.JSONOrders
</div>
<div class="content content-3">
    <h1 class="h2">Reports</h1>
    <hr />

    <div class="d-flex gap-3 reports">
        <div class="border border-1 px-4 py-2 report-tab-1 report-tab" onclick="onToggleReport(1)">Overview</div>
        <div class="border border-1 px-4 py-2 report-tab-2 report-tab" onclick="onToggleReport(2)">Sales per day</div>
        <div class="border border-1 px-4 py-2 report-tab-3 report-tab" onclick="onToggleReport(3)">Top Selling</div>
        <div class="border border-1 px-4 py-2 report-tab-4 report-tab" onclick="onToggleReport(4)">Top Earning</div>
    </div>
    <div class="row mt-5 report report-1">
        <div class="col-4">
            <ul class="list-unstyled border border-1 text-center py-3">
                <li>
                    <p>₵@ViewBag.totalAmount</p>
                    <p>Total Sales</p>
                </li>
                <hr />
                <li>
                    <p>₵@ViewBag.totalPendingAmount</p>
                    <p>Total Pending</p>
                </li>
                <hr />
                <li>
                    <p>@Model.Count()<p>
                    <p>Orders placed</p>
                </li>
                <hr />
                <li>
                    <p>@ViewBag.NoOfFilteredOrders</p>
                    <p>Items purchased</p>
                </li>
                <hr />
                <li>
                    <p>@ViewBag.NoOfPendingOrders</p>
                    <p>Orders placed pending</p>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div>
                <canvas id="overview-report" width="470" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="row mt-5 report report-2">
        <div class="col-4">
            <div class="mb-5 d-flex gap-3 align-items-center">
                <div>
                    <label for="from">From:</label>
                    <input type="date" id="from" class="p-1 spd-from" />
                </div>
                <div>
                    <label for="to">To:</label>
                    <input type="date" id="to" class="p-1 spd-to" />
                </div>
                <button class="btn btn-primary" onclick="getReportData()">Show</button>
            </div>
            <ul class="list-unstyled border border-1 text-center py-3">
                <li>
                    <p class="sitp">$0</p>
                    <p>Sales in this period</p>
                </li>
                <hr />
                <li>
                    <p class="ads">$0</p>
                    <p>Average daily sales</p>
                </li>
                <hr />
                <li>
                    <p class="opg">0<p>
                    <p>Orders pending</p>
                </li>
                <hr />
                <li>
                    <p class="opd">0</p>
                    <p>Orders Paid</p>
                </li>

            </ul>
        </div>
        <div class="col-6">
            <div>
                <canvas id="overview-report-2" width="470" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="report mt-5 report-3">
        <div class="mb-5 d-flex gap-3 align-items-center">
            <div>
                <label for="from">From:</label>
                <input type="date" id="from" class="p-1 ts-from" />
            </div>
            <div>
                <label for="to">To:</label>
                <input type="date" id="to" class="p-1 ts-to" />
            </div>
            <button class="btn btn-primary" onclick="getReportDataTable()">Show</button>
        </div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Qunatity</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Total Amount</th>
                </tr>
            </thead>
            <tbody class="ts-tbody">
            </tbody>
        </table>
    </div>
    <div class="report mt-5 report-4">
        <div class="mb-5 d-flex gap-3 align-items-center">
            <div>
                <label for="from">From:</label>
                <input type="date" id="from" class="p-1 te-from" />
            </div>
            <div>
                <label for="to">To:</label>
                <input type="date" id="to" class="p-1 te-to" />
            </div>
            <button class="btn btn-primary" onclick="getReportDataTable('earning')">Show</button>
        </div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Qunatity</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Total Amount</th>
                </tr>
            </thead>
            <tbody class="te-tbody">
            </tbody>
        </table>
    </div>
</div>

    <script src="~/js/controller/dashboard/_Reports.js"></script>
