<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <link rel="stylesheet" href="~/css/shared/_Nav.css" asp-append-version="true" />
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3 px-2">
        <div class="container-fluid">
            <a class="nav-link" href="#">RentWise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center sidebar">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="1">Construction Equipments</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="2">Car Rentals</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="3">Office Items/Personal Items</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="4">Events/ Equipment Rentals</a></li>
                            <li class="m-0"><hr class="dropdown-divider"></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="5">Sales Of Vehicles Trackers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Page" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Page" asp-action="How">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                    @*   <li>
                    <i class="bi bi-cart4 icon"></i>
                    </li> *@
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row mt-5 bg-light px-lg-5 px-sm-1 justify-content-center">
        <div class="col-md-2 col-sm-12 pl-md-5 ">
            <input value="@ViewBag.Action" class="action" hidden/>
            <ul class="d-flex text-light list-unstyled w-100 justify-content-evenly  lead text-center  bg-dark py-3 rounded sidebar flex-md-column flex-sm-row flex-wrap g-sm-5">
                <li onclick="onToggle(1)" class="sidebar sidebar-1">
                    <i class="bi bi-columns-gap p-md-0 px-sm-3"></i>
                    <span class="">Dashboard</span>
                </li>
                <hr />
                <li onclick="onToggle(2)" class="sidebar sidebar-2">
                    <i class="bi bi-chat-right-dots-fill p-md-0 px-sm-3"></i>
                    <span class="">Messages</span>
                </li>
                <hr />
                <li onclick="onToggle(3)" class="sidebar sidebar-3">
                    <i class="bi bi-calendar-event-fill p-md-0 px-sm-3"></i>
                    <span class="">Report</span>
                </li>
                <hr />
                <li onclick="onToggle(4)" class="sidebar sidebar-4">
                    <i class="bi bi-bookmark-dash-fill p-md-0 px-sm-3"></i>
                    <span class="">Reservations</span>
                </li>
                <hr />
                <li onclick="onToggle(5)" class="sidebar sidebar-5">
                    <i class="bi bi-list-check p-md-0 px-sm-3"></i>
                    <span class="">Review</span>
                </li>
                <hr />
                <li onclick="onToggle(6)" class="sidebar sidebar-6">
                    <i class="bi bi-person-fill p-md-0 px-sm-3"></i>
                    <span class="">Profile</span>
                </li>
                <hr />
                <li onclick="onToggle(7)" class="sidebar sidebar-7">
                    <i class="bi bi-card-checklist p-md-0 px-sm-3"></i>
                    <span class="">Withdraw</span>
                </li>
                <hr />
                <li>
                    <a asp-controller="Store" asp-action="Index" class="link-light text-decoration-none">
                        <i class="bi bi-shop-window p-md-0 px-sm-3"></i>
                        <span class="">Store</span>
                    </a>
                </li>
                <hr />
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="bg-transparent btn text-white w-100">
                            <i class="bi bi-box-arrow-left p-md-0 px-sm-3"></i>
                            <span class="">Logout</span>
                        </button>
                    </form>
                   
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-12 pr-md-3 pr-sm-0">
            <input value="@ViewBag.NoOfOrders" class="order-count" hidden />
            <input value="@ViewBag.totalAmount" class="earnings" hidden />
            <partial name="_Dashboard" model="ViewBag.Orders" />
            <partial name="_Chat" />
            <partial name="_Reports" model="ViewBag.Orders" />
            <partial name="_Orders" model="ViewBag.Orders" />
            <partial name="_Reviews" model="ViewBag.Reviews" />
            <partial name="_Profile" model="ViewBag.Agent" />
            <partial name="_Withdrawal" model="ViewBag.Withdrawals" />


        </div>
    </div>
</div>

<style>
    .sidebar li {
        cursor: pointer;
        padding: .6rem 0;
    }

        .sidebar li:not(.split-li):hover, .sidebar-item:hover {
            background: var(--bs-primary)
        }

    .sidebar-item {
        padding: .6rem 3rem;
    }

    .display-none {
        display: none
    }

    .search_input {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        margin: auto;
        align-items: center;
    }

        .search_input i {
            grid-column: 1/1;
            grid-row: 1/1;
            z-index: 2;
            justify-self: center;
            padding: .5rem 1.5rem;
        }

        .search_input input {
            grid-column: 1/-1;
            grid-row: 1/1;
            z-index: 1;
            padding: .5rem 4rem;
            border-radius: 2rem;
            border: none;
        }

    .active {
        background: var(--bs-primary);
    }

</style>
<style>

</style>
<script>
    function onToggle(contentNo) {
        document.querySelectorAll(".content").forEach((content) => {
            content.classList.add("display-none");
        })
        document.querySelector(".content-" + contentNo).classList.remove("display-none");

        $(".sidebar").removeClass("active");
        $(".sidebar-" + contentNo).addClass("active");
    }

    function onToggleSidebar() {
        const url = window.location.href;
        const urlParams = new URLSearchParams(url.split('?')[1]);
        const activeValue = urlParams.get('active');
        if (activeValue && activeValue.length > 0) {
            onToggle(activeValue);
        } else {
            const action = $(".action").val();
            onToggle(action);
        }
    }
    onToggleSidebar()
</script>
