<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <link rel="stylesheet" href="~/css/shared/_Nav.css" asp-append-version="true" />
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3 px-2">
        <div class="container-fluid">
            <a class="nav-link" href="#">RentWise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center sidebar">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="1">Construction Equipments</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="2">Car Rentals</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="3">Office Items/Personal Items</a></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="4">Events/ Equipment Rentals</a></li>
                            <li class="m-0"><hr class="dropdown-divider"></li>
                            <li class="m-0"><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="5">Sales Of Vehicles Trackers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Page" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Page" asp-action="How">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                    @*   <li>
                    <i class="bi bi-cart4 icon"></i>
                    </li> *@
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row mt-5 bg-light px-5">
        <div class="col-2 pl-5 ">
            <ul class="d-flex flex-column text-light list-unstyled w-100 justify-content-evenly  lead text-center  bg-dark py-3 rounded sidebar">
                <li onclick="onToggle(1)">
                    <i class="bi bi-columns-gap"></i>
                    <span>Dashboard</span>
                </li>
                <hr />
                <li onclick="onToggle(2)">
                    <i class="bi bi-chat-right-dots-fill"></i>
                    <span>Messages</span>
                </li>
                <hr />
                <li onclick="onToggle(3)">
                    <i class="bi bi-calendar-event-fill"></i>
                    <span>Report</span>
                </li>
                <hr />
                <li onclick="onToggle(4)">
                    <i class="bi bi-bookmark-dash-fill"></i>
                    <span>Orders</span>
                </li>
                <hr />
                <li onclick="onToggle(5)">
                    <i class="bi bi-list-check"></i>
                    <span>Review</span>
                </li>
                <hr />
                <li>
                    <i class="bi bi-person-fill"></i>
                    <span>Profile</span>
                </li>
                <hr />
                <li>
                    <i class="bi bi-card-checklist"></i>
                    <span>Withdraw</span>
                </li>
                <hr />
                <li>
                    <i class="bi bi-gear-fill"></i>
                    <span>Settings</span>
                </li>
                <hr />
                <li>
                    <div class="d-flex justify-content-evenly">
                        <i class="bi bi-shop-window"></i>
                        <div class="vr"></div>
                        <i class="bi bi-person-fill"></i>
                    </div>
                </li>
                <hr />
                <li>
                    <i class="bi bi-box-arrow-left"></i>
                    <span>Logout</span>
                </li>
            </ul>
        </div>
        <div class="col-10 pr-3">
            <partial name="_Dashboard" />
            <partial name="_Chat" />
            <partial name="_Reports" />
            <partial name="_Orders" model="ViewBag.Orders" />
            <partial name="_Reviews" />


        </div>
    </div>
</div>

<style>
    .sidebar li {
        cursor: pointer;
        padding: .6rem 0;
    }

        .sidebar li:hover {
            background: var(--bs-primary)
        }

    .display-none {
        display: none
    }

    .search_input {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        margin: auto;
        align-items: center;
    }

        .search_input i {
            grid-column: 1/1;
            grid-row: 1/1;
            z-index: 2;
            justify-self: center;
            padding: .5rem 1.5rem;
        }

        .search_input input {
            grid-column: 1/-1;
            grid-row: 1/1;
            z-index: 1;
            padding: .5rem 4rem;
            border-radius: 2rem;
            border: none;
        }

</style>
<style>

</style>
<script>
    function onToggle(contentNo) {
        document.querySelectorAll(".content").forEach((content) => {
            content.classList.add("display-none");
        })

        document.querySelector(".content-" + contentNo).classList.remove("display-none");
    }

    onToggle(1);
</script>
