<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="~/css/controller/dashboard/Index.css"/>
<div class="bg-light">
    <partial name="_Nav" model="'a'"/>
    <div class="row bg-light justify-content-center mt-2">
        <div class="col-md-2 col-0 col-sm-12 d-none d-lg-block">
            <input value="@ViewBag.Action" class="action" hidden/>
            <ul class="d-flex text-primary list-unstyled w-100 justify-content-evenly  lead text-center bg-light py-3 rounded sidebar flex-md-column flex-sm-row flex-wrap g-sm-5">
                <li onclick="onToggle(1)" class="sidebar sidebar-1">
                    <i class="bi bi-columns-gap p-md-0 px-sm-3"></i>
                    <span class="">Dashboard</span>
                </li>
                <hr />
                <li onclick="onToggle(2)" class="sidebar sidebar-2">
                    <i class="bi bi-chat-right-dots-fill p-md-0 px-sm-3"></i>
                    <span class="">Messages</span>
                </li>
                <hr />
                <li onclick="onToggle(3)" class="sidebar sidebar-3">
                    <i class="bi bi-calendar-event-fill p-md-0 px-sm-3"></i>
                    <span class="">Report</span>
                </li>
                <hr />
                <li onclick="onToggle(4)" class="sidebar sidebar-4">
                    <i class="bi bi-bookmark-dash-fill p-md-0 px-sm-3"></i>
                    <span class="">Reservations</span>
                </li>
                <hr />
                <li onclick="onToggle(5)" class="sidebar sidebar-5">
                    <i class="bi bi-list-check p-md-0 px-sm-3"></i>
                    <span class="">Review</span>
                </li>
                <hr />
                <li onclick="onToggle(6)" class="sidebar sidebar-6">
                    <i class="bi bi-person-fill p-md-0 px-sm-3"></i>
                    <span class="">Profile</span>
                </li>
                <hr />
                <li onclick="onToggle(7)" class="sidebar sidebar-7">
                    <i class="bi bi-card-checklist p-md-0 px-sm-3"></i>
                    <span class="">Withdraw</span>
                </li>
                <hr />
                <li onclick="onToggle(0,'/store/index')">
                        <i class="bi bi-shop-window p-md-0 px-sm-3"></i>
                        <span class="">Store</span>
                </li>
                <hr />
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="bg-transparent btn text-primary w-100">
                            <i class="bi bi-box-arrow-left p-md-0 px-sm-3"></i>
                            <span class="">Logout</span>
                        </button>
                    </form>
                   
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-12">
            <input value="@ViewBag.NoOfOrders" class="order-count" hidden />
            <input value="@ViewBag.totalAmount" class="earnings" hidden />
            <partial name="_Dashboard" model="ViewBag.Orders" />
            <partial name="_Chat" />
            <partial name="_Reports" model="ViewBag.Orders" />
            <partial name="_Orders" model="ViewBag.Orders" />
            <partial name="_Reviews" model="ViewBag.Reviews" />
            <partial name="_Profile" model="ViewBag.Agent" />
            <partial name="_Withdrawal" model="ViewBag.Withdrawals" />
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/controller/dashboard/Index.js"></script>
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

