<link rel="stylesheet" href="~/css/controller/store/Index.css" />
<div>
    <partial name="_Nav2" />
    <img src="~/img/banner.png" alt="banner" class="w-100" />
    <div class="row align-items-center mt-3">
        <div class="col-3"></div>
        <div class="search_input col-3">
            <i class="bi bi-search text-muted"></i>
            <input type="search" value="" placeholder="Search" />
            <button class="btn rouded-pill btn-info text-white"> <i class="bi bi-search text-muted text-white"></i>Search</button>
        </div>
        
        <div class="col-3 d-flex align-items-center gap-3">
            <p class="m-0">
                <b>Product</b>
            </p>
                <div class="vr"></div>
            <p class="m-0">
                <b>Review</b>
            </p>
            <div class="vr"></div>
            <p class="m-0">
                <b>Share</b>
                <i class="bi bi-share-fill"></i>
            </p>
        </div>
        <div class="col-3 d-flex gap-2">
            <i class="bi bi-heart"></i>
            <p>0</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 px-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-title bg-primary bg-opacity-25 p-2 text-center">Store Details</p>
                    <ul class="card-text list-unstyled d-flex flex-column gap-3  ">
                        <li class="d-flex gap-2"><i class="bi bi-person-circle"></i> <span>Registration: July 4th ,2023</span></li>
                        <li class="d-flex gap-2"><i class="bi bi-heart"></i><span>Product Votes: 0</span></li>
                        <li class="d-flex gap-2"><i class="bi bi-shop"></i><span>Total Submitted: 0</span></li>
                    </ul>
           
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-title bg-primary bg-opacity-25 p-2 text-center ">Store Product Category</p>
                    <ul class="card-text list-unstyled d-flex flex-column gap-3  ">
                        <li class="d-flex gap-2"> <input type="checkbox"/> <span>Select All</span></li>
                        <li class="d-flex gap-2"> <input type="checkbox" /> <span>Vehicle Rentals</span></li>
                        <li class="d-flex gap-2"> <input type="checkbox" /> <span>Construction Equipment Rental</span></li>
                        <li class="d-flex gap-2"> <input type="checkbox" /> <span>Personal/office Rental</span></li>
                        <li class="d-flex gap-2"> <input type="checkbox" /><span>Props/Event Rental</span></li>
                        <li class="d-flex gap-2"> <input type="checkbox" /><span>Vehicle Trackers</span></li>
                    </ul>

                </div>
            </div>
            <button class="p-3 mt-5 bg-dark text-white w-100 d-flex gap-1 justify-content-center"><i class="bi bi-columns-gap"></i><span>Dashboard</span></button>
        </div>
        <div class="col-9">
            <div class="d-flex flex-wrap w-10 mt-5">
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div> 
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div> 
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="button-container">
                        <img src="~/img/construction.png" alt="Your Image">
                        <div class="button-overlay">
                            <button class="bg-dark  text-white py-2 px-5 rounded-3">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mt-3 p-3 bg-dark text-white">
                <i class="bi bi-plus-circle-fill"></i> <span>Add A New Product</span>
            </button>
        </div>
    </div>
</div>

